<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fengyuanchen.github.io/cropperjs/css/cropper.css"
    />
    <link rel="stylesheet" href="/app.css" />

    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script>

    <!-- Primary Meta Tags -->
    <title>બોપલ ઘુમા રાજપૂત સમાજ</title>
    <meta name="title" content="બોપલ ઘુમા રાજપૂત સમાજ " />
    <meta
      name="description"
      content="વિજયાદશમી નિમિતે બોપલ ઘુમા રાજપૂત સમાજ દ્વારા આયોજિત રેલી અને શસ્ત્રપૂજન સમારોહ "
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://bgrs.jnrana.me/" />
    <meta property="og:title" content="બોપલ ઘુમા રાજપૂત સમાજ" />
    <meta
      property="og:description"
      content="વિજયાદશમી નિમિતે બોપલ ઘુમા રાજપૂત સમાજ દ્વારા આયોજિત રેલી અને શસ્ત્રપૂજન સમારોહ "
    />
    <meta
      property="og:image"
      content="https://bgrs.jnrana.me/assets/share-banner.jpg"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://bgrs.jnrana.me/" />
    <meta property="twitter:title" content="બોપલ ઘુમા રાજપૂત સમાજ" />
    <meta
      property="twitter:description"
      content="વિજયાદશમી નિમિતે બોપલ ઘુમા રાજપૂત સમાજ દ્વારા આયોજિત રેલી અને શસ્ત્રપૂજન સમારોહ "
    />
    <meta
      property="twitter:image"
      content="https://bgrs.jnrana.me/assets/share-banner.jpg"
    />

    <style>
      body {
        background: #b53745;
        min-height: 100vh;
      }
      .card-header {
        background: #c74f5d;
        border: none;
      }
      .logo-name {
        max-width: 100%;
        width: 200px;
        margin: 0 auto;
        height: auto;
      }
      .logo-vijya {
        max-width: 100%;
        width: 300px;
        margin: 0 auto;
      }
      .logo-icon1,
      .logo-icon2 {
        /* max-width: 100%; */
        width: 60px;
        height: auto;
        max-height: 80px;
      }
      .footer {
        background: #b53745;
        color: #ffffff;
        position: relative;
        bottom: 0;
        left: 0;
        /* width: calc(100% - 30px); */
        width: 100%;
        margin: 0 !important;
      }
      .text-muted {
        color: #ffffff60 !important;
      }
      .main-content {
        min-height: calc(100vh - 116px);
      }
      .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: #b53745;
        color: #ffffff;
      }

      .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
        background: #b53745;
        color: #ffffff;
      }
    </style>
    <title>BGRS</title>
  </head>
  <body>
    <div class="container">
      <div
        class="d-flex column mt-4 align-items-center justify-content-space-between"
      >
        <img src="/assets/logo-icon.png" class="logo-icon1" />
        <img src="/assets/logo-name.png" class="logo-name mb-1" />
        <img src="/assets/logo-icon.png" class="logo-icon1" />
      </div>

      <div class="main-content">
        <div class="mainCard card border-0 mt-4">
          <div class="card-body">
            <div class="form-group"><%- body %></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
